body{
    margin:0;
    font-family:'Syne',sans-serif;
    background:#07111f;
    color:white;
}

header{
    text-align:center;
    padding:20px;
}

h1{
    color:#38bdf8;
}

.contenedor{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

.principal{
    text-align:center;
    background:#0f172a;
    padding:25px;
    border-radius:20px;
}

.temperatura{
    font-size:80px;
    font-weight:bold;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-top:20px;
}

.card{
    background:#0f172a;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.grafico{
    background:#0f172a;
    margin-top:20px;
    padding:20px;
    border-radius:15px;
}

.pronostico{
    display:flex;
    gap:10px;
    overflow:auto;
}

.dia{
    min-width:120px;
    background:#0f172a;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

footer{
    text-align:center;
    padding:20px;
    color:#94a3b8;
}